@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form method="post" action="~/Home/Area">
    <label>Высота:</label><br />
    <input type="number" name="height" /><br />
    <label>Основание:</label><br />
    <input type="number" name="altitude" /><br />
    <input type="submit" value="Отправить" />
    @*@{
            Layout = "~Views/Shared/_Layout.cshtml";
        }*@

</form>
<h1>question</h1>
<form method="post" action="~/Home/AddQuestion">
    <label>Enter the question:</label><br />
    <input type="text" name="text" /><br />
    <input type="submit" value="Отправить" />
</form>

@await Html.PartialAsync("_GetSecondUserView");

@for (int i = 0; i < 10; i++)
{
    <p>Выведем число @(i + 1)</p>
}

@section Footer{
    <span>Все права защищены. Site Corp. 2016.</span> 
}

